.content {
  margin-left: 230px;
  margin-top: 50px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.expanded {
  margin-left: 50px;
}

.content {
  margin-left: 230px;
  margin-top: 50px;
  transition: margin-left 0.3s ease;
}

.content.full {
  margin-left: 0;
}
